version: "3.9"

services:
  db:
    image: postgres:15
    container_name: kyntus_db_main
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-kyntus_user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-kyntus_pass}
      POSTGRES_DB: ${POSTGRES_DB:-kyntus_db}
    ports:
      - "5432:5432"
    volumes:
      - kyntus_data:/var/lib/postgresql/data
    networks: [kyntus_net]

  pgadmin:
    image: dpage/pgadmin4
    container_name: kyntus_pgadmin_
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@kyntus.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on: [db]
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks: [kyntus_net]

  backend:
    build:
      context: .
      dockerfile: Backend/Dockerfile
    container_name: kyntus_backend
    env_file:
      - ./Backend/.env
    environment:
      PYTHONPATH: "/app:/app/Backend"
    working_dir: /app/Backend
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./Backend:/app/Backend
    depends_on: [db]
    ports:
      - "8000:8000"
    networks: [kyntus_net]

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: kyntus_frontend
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:8000
    volumes:
      - ./Frontend:/app
    depends_on: [backend]
    ports:
      - "3000:3000"
    networks: [kyntus_net]

volumes:
  kyntus_data:
  pgadmin_data:

networks:
  kyntus_net:
    driver: bridge
